html {
  font-family: "Fredoka One", sans-serif;
}

.banner {
  background: repeating-linear-gradient(147deg, #d4fdff, #d4fdff 10px, #c9fcff 10px, #c9fcff 20px);
  height: 500px;
}

.intro {
  position: relative;
  animation: pop-up 2s ease-out forwards;
}

.intro h1 {
  transform-origin: left center;
  position: absolute;
  top: 28%;
  transform: rotate(-10deg);
  color: #990073;
}

.intro p {
  transform-origin: left center;
  position: absolute;
  top: 41%;
  transform: rotate(-5deg);
  color: #c09;
  max-width: 19em;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, .4), 1px 1px 2px rgba(0, 0, 0, .4);
}

.btn {
  position: absolute;
  top: 64%;
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
  background-color: #b3fbff;
}

.icecream {
  position: relative;
}

.cherry {
  transform-origin: left center;
  position: absolute;
  top: 4%;
  left: 20%;
  width: 50px;
}

.vanilla-fudge {
  transform-origin: left center;
  position: absolute;
  top: 14%;
  left: 3%;
  width: 130px;
}

.chocolate-chip {
  transform-origin: left center;
  position: absolute;
  top: 29%;
  left: 6%;
  width: 130px;
}

.mint-chip {
  transform-origin: left center;
  position: absolute;
  top: 46%;
  left: 4%;
  width: 135px;
}

.cone {
  position: absolute;
  transform-origin: left center;
  top: 65%;
  left: 8%;
  width: 120px;
}

@media only screen and (min-width: 90em) {

  .intro {
    text-align: center;
  }

}

@keyframes pop-up {

  0% {
    filter: blur(7px);
    filter: opacity(0%);
  }

  50% {
    filter: blur(7px);
    filter: opacity(50%);
  }

  100% {
    filter: opacity(100%);
  }

}
